@font-face {
    font-family: "Avayx";
    src: url(Avayx.ttf);
}

@font-face {
    font-family: "Orbitron";
    src: url(Orbitron-Regular.ttf)
}

body {
    color: lawngreen;
    font-family: "Orbitron";
    background-image: url(gif6.gif);
    background-size: cover;
    margin: 0px;
}

a {
    text-decoration: none;
    color: lawngreen;
}

header {
    width: 100%;
    padding: 1px;
    margin: 1px;
    background-color: midnightblue;
}

header h1{
    text-align: center;
}

.indice {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
}

#desc:hover, #skills:hover, #blog:hover {
    font-weight: bold;
    font-size: 18px;
    color: magenta;
}

.sobre-conteiner {
    text-align: center;
}

.sobre-conteiner:hover {
    background-color: magenta;
}

#foto {
    float: left;
    margin: 15px;
}

.sobre-conteiner p {
    text-align: left;
    margin: 10px;
}

#foto {
    border-radius: 100%;
    float: left;
}

.skills {
    margin-top: 100px;
}

.skill-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.shell:hover, .html:hover, .css:hover {
    background-color: magenta;
}

.lista {
    font-weight: bold;
}

#habilidades {
    text-align: center;
}

.final {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

#linkedin {
    text-decoration: none;
    background-image: url(LinkedIn.jpg);
    border-radius: 3%;
    padding: 15px 30px;
    margin-right: 15px;
}

#github {
    text-decoration: none;
    background-image: url(github.png);
    border-radius: 3%;
    padding: 15px 30px;
}
